:root {
  --main-yellow: #fbc514;
  --main-blue: #0c0c0c;
  --fp: #bc1a50;
  --main-text: #000;
  --link-text: #fff;
}
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Comfortaa', cursive;
}

/* Top Header Nav */
div.border {
  background-color: rgba(200, 200, 200, 0.5);
}
header.top {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  height: 25px;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header.top p {
  width: 300px;
}

ul.top-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

ul.top-nav li {
  padding: 0 10px;
}

ul.top-nav li i {
  padding: 0 4px;
}

ul.top-nav li a {
  text-decoration: none;
  color: #000;
  padding: 2px;
}

ul.top-nav li a:hover {
  border-bottom: 2px black solid;
}

ul.top-nav li a:hover i {
  color: var(--main-yellow);
}

/* Logo & Search */

.main-logo {
  background: url(/img/sea.jpeg) no-repeat center center/cover;
  width: 100%;

  margin: 0 auto;
  height: 500px;
}

div.logo {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

img.bee-logo {
  width: 300px;
}

div.searchbar {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

div.searchbar label {
  padding-right: 5px;
  font-weight: bold;
}

div.searchbar input {
  border: 2px solid var(--main-blue);
  border-radius: 4px;
  padding: 2px;
}

/* Main Nav Icons */

nav.sections {
  max-width: 1100px;
  margin: 0 auto;
  padding: 200px 40px;
}

nav ul.section-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.section-links li {
  list-style-type: none;
}

ul.section-links li a {
  text-decoration: none;
  color: var(--main-yellow);
  font-size: 2.5rem;
  border-right: 2px solid var(--main-blue);
  padding: 0 40px;
  padding-bottom: 5px;
}

ul.section-links li:last-child a {
  border-right: none;
}

ul.section-links li a:hover {
  border-right: none;
  border-bottom: 2px solid var(--main-blue);
}

/* Main Body Cards */

section.cards {
  margin: 20px auto;
  width: 100%;
  max-width: 1100px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
}

.card-container1 {
  grid-column: 1/6;
}
.card-container2 {
  grid-column: 6/11;
}
section.cards > div {
  background-color: #eeeeee;
  padding: 10px;
}

section.cards div img {
  width: 100%;
}

section.cards div h3 {
  text-align: center;
  text-transform: uppercase;
}

div.vertical-title {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

div.tab-container {
  display: flex;
  justify-items: center;
}

div.tab-container div {
  border: 1px solid black;
  cursor: pointer;
}

div.tab-container div h1 {
  pointer-events: none;
}

div.tab-container div:hover h1 {
  color: white;
}

#teamwear-tab {
  background-color: red;
  color: var(--main-yellow);
  z-index: 15;
}

#workwear-tab {
  background-color: blue;
  color: var(--main-yellow);
  z-index: 10;
}

#schoolwear-tab {
  background-color: green;
  color: var(--main-yellow);
  z-index: 5;
}

#customs-tab {
  background-color: var(--fp);
  color: var(--main-yellow);
  z-index: 1;
}

#workwear-content1,
#workwear-content2 {
  display: none;
}

div.active h1 {
  color: white;
}
